* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: Verdana;
    font-size: 10px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/* #map_info {
    margin-left: 15px;
    background: #eee;
    padding: 2px;
    width: 1000px;
} */

body {
    background: gray;
}

#itemsstatus {
    height: 630px;
    margin-left: 15px;
    width: calc(100% - 1030px);
    background-image: url(../img/back-info.jpg);
    color: white;
}

#map {
    margin-left: 15px;
    margin-top: 15px;
}

.lifeup {
    position: fixed;
    height: 6px;
    background: rgba(0, 255, 125, 1);
    background-clip: content-box !important;
    border: solid 1px gray;
    margin-top: 1px;
    margin-left: -1px;
    width: 40px;
}

.nameup {
    position: fixed;
    margin-top: -13px;
    text-align: center;
    width: 80px;
    margin-left: -20px;
    font-family: Verdana;
    text-shadow: 0 0 2px #0ac519;
    font-size: 12px;
}

.floor {
    position: fixed;
    width: 40px;
    height: 40px;
}

.item {
    transition: opacity 800ms, margin 210ms;
    position: fixed;
    width: 40px;
    height: 40px;
}

.kamehameha {
    transition: 180ms;
    background: yellow;
    position: fixed;
    margin-top: -24px;
    margin-left: 15px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: solid 1px yellowgreen;
    opacity: 0.6;

     background: linear-gradient(90deg, rgba(201,197,30,1) 0%, rgba(203,202,188,1) 0%, rgba(144,158,69,1) 100%, rgba(121,118,9,1) 100%);
     background: linear-gradient(90deg, rgba(142,158,6,1) 0%, rgba(247,245,39,1) 100%, rgba(144,158,69,1) 100%, rgba(121,118,9,1) 100%);

     background-size: 200% 200%;

    -webkit-animation-name: kamehameha;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: kamehameha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.kamepiscando {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.water {
    border: solid 1px gray;
}

.waterLefting {
    -webkit-animation-name: waterLefting;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: waterLefting;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes kamehameha { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes kamehameha { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@-webkit-keyframes waterLefting { 
    0% { margin-left: -0px; }
    100% { margin-left: -96px; }
}

@keyframes waterLefting { 
    0% { margin-left: -0px; }
    100% { margin-left: -96px; }
}

@-webkit-keyframes fadeIn { 
    0% { opacity: 0.3; }
    25% { opacity: 0.6; }
    50% { opacity: 1; }
    75% { opacity: 0.6; }
    100% { opacity: 0.3; }
  }
  
  @keyframes fadeIn {
    0% { opacity: 0.3; }
    25% { opacity: 0.6; }
    50% { opacity: 1; }
    75% { opacity: 0.6; }
    100% { opacity: 0.3; }
  }