* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#map {
    margin-left: 15px;
    margin-top: 15px;
}

.lifeup {
    position: fixed;
    height: 6px;
    background: rgba(0, 255, 125, 1);
    background-clip: content-box !important;
    border: solid 1px gray;
    margin-top: 3px;
    margin-left: -1px;
    width: 40px;
}

.nameup {
    position: fixed;
    margin-top: -13px;
    text-align: center;
    width: 80px;
    margin-left: -20px;
    font-family: Verdana;
    text-shadow: 0 0 2px #0ac519;
    font-size: 12px;
}

.char {
    transition: margin 700ms;
    position: fixed;
    width: 40px;
    height: 40px;
}